# Node
node_modules
dist
.vite

# Python
__pycache__
.venv
*.pyc
sas/

# Env
.env

# OS
.DS_Store

# IDE
.vscode

# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc

# Local Environment Secrets
.env
.env.local

# Build outputs
dist/
build/